<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="odm.ui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
			<section name="odm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<system.net>
		<settings>
			<!-- 
				follow reccomendation RFC 2616, section 19.3 "Tolerant Applications".
				allow parsing of malformed http headers that are separated only with LF or CR.
			-->
			<httpWebRequest useUnsafeHeaderParsing="true"/>
		</settings>
		<connectionManagement>
			<!-- 
				set maximum number of simultaneous http connections per uri, default is 3.
				for normal work of onvif session it should be at least 10.
			-->
			<add address="*" maxconnection="100"/>
		</connectionManagement>
		<authenticationModules>
			<!-- 
				replace standard basic authentication module to add support 
				for utf encoded username and password contained non-ASCII chars
				for http basic authentication.
			-->
			<remove type="System.Net.BasicClient"/>
			<add type="utils.UtfBasicAuthenticationModule, utils.common"/>
		</authenticationModules>
	</system.net>
	<userSettings>
		<odm.ui.Properties.Settings>
			<setting name="DefaultLocaleIso3" serializeAs="String">
				<value>eng</value>
			</setting>
			<setting name="DevicesListControlHeaderNameWidth" serializeAs="String">
				<value>80</value>
			</setting>
			<setting name="DevicesListControlHeaderIPWidth" serializeAs="String">
				<value>75</value>
			</setting>
			<setting name="DevicesListControlHeaderTypeWidth" serializeAs="String">
				<value>110</value>
			</setting>
			<setting name="MainWindowState" serializeAs="String">
				<value>Normal</value>
			</setting>
			<setting name="MainWindowLeftPanelSize" serializeAs="String">
				<value>220</value>
			</setting>
			<setting name="MainWindowWidth" serializeAs="String">
				<value>800</value>
			</setting>
			<setting name="MainWindowHeight" serializeAs="String">
				<value>600</value>
			</setting>
			<setting name="RecordingPath" serializeAs="String">
				<value/>
			</setting>
			<setting name="UseDefaultRecordingPath" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="UsersList" serializeAs="Xml">
				<value>
					<ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<string>Guest;;0</string>
					</ArrayOfString>
				</value>
			</setting>
		</odm.ui.Properties.Settings>
		<odm.Properties.Settings>
			<setting name="DefaultLocaleIso3" serializeAs="String">
				<value>eng</value>
			</setting>
			<setting name="DevicesListControlHeaderNameWidth" serializeAs="String">
				<value>80</value>
			</setting>
			<setting name="DevicesListControlHeaderIPWidth" serializeAs="String">
				<value>75</value>
			</setting>
			<setting name="DevicesListControlHeaderTypeWidth" serializeAs="String">
				<value>110</value>
			</setting>
			<setting name="MainWindowState" serializeAs="String">
				<value>Normal</value>
			</setting>
			<setting name="MainWindowLeftPanelSize" serializeAs="String">
				<value>220</value>
			</setting>
			<setting name="MainWindowWidth" serializeAs="String">
				<value>800</value>
			</setting>
			<setting name="MainWindowHeight" serializeAs="String">
				<value>600</value>
			</setting>
		</odm.Properties.Settings>
	</userSettings>
	<system.diagnostics>
		<sources>
			<!--<source name="System.Net" switchValue="Verbose">
				<listeners>
					<add name="System.Net"/>
				</listeners>
			</source>
			<source name="System.Net.Sockets" switchValue="Verbose">
				<listeners>
					<add name="System.Net"/>
				</listeners>
			</source>
			<source name="System.Net.Cache" switchValue="Verbose">
				<listeners>
					<add name="System.Net"/>
				</listeners>
			</source>-->
			<!--<source name="System.ServiceModel" switchValue="Verbose, ActivityTracing">
				<listeners>
					<remove name="Default"/>
					<add
						type="System.Diagnostics.XmlWriterTraceListener"
						name="wcf"
						initializeData="logs/wcf.svclog"
						traceOutputOptions="Timestamp">
					</add>
				</listeners>
			</source>

			<source name="System.ServiceModel.MessageLogging" switchValue="Verbose">
				<listeners>
					<remove name="Default"/>
					<add 
						type="System.Diagnostics.XmlWriterTraceListener" 
						name="messages" 
						initializeData="logs/messages.svclog" 
						traceOutputOptions="Timestamp">
					</add>
					
				</listeners>
			</source>-->
			<!--<source name="System.Runtime.Serialization" switchValue="Verbose, ActivityTracing">
				<listeners>
					<add
						initializeData="logs/serialization.svclog"
						type="System.Diagnostics.XmlWriterTraceListener"
						name="serialization">
						<filter type="" />
					</add>
				</listeners>
			</source>-->
		</sources>
		<!--<switches>
			<add name="System.Net" value="Verbose"/>
			<add name="System.Net.Sockets" value="Verbose"/>
			<add name="System.Net.Cache" value="Verbose"/>
		</switches>

		<sharedListeners>
			<add name="System.Net" 
				type="System.Diagnostics.TextWriterTraceListener" 
				initializeData="logs/net.log"/>
		</sharedListeners>-->
		<!--

		<sharedListeners>
			<add name="textListener"
			 type="System.Diagnostics.TextWriterTraceListener"
			 initializeData="DebugTrace.txt" />
			<add type="System.Diagnostics.XmlWriterTraceListener" name="wcf" initializeData="logs/wcf.svclog" traceOutputOptions="Timestamp">
				<filter type=""/>
			</add>
		</sharedListeners>-->
		<trace autoflush="true" indentsize="2">
			<listeners>
				<clear/>
				<!--<add type="odm.utils.ObservableTraceListener, odm-utils" name="ui-logger">
					<filter type="System.Diagnostics.EventTypeFilter" initializeData="Error"/>
				</add>-->
				<!--<add type="System.Diagnostics.ConsoleTraceListener" name="console"/>-->
				<!--<add type="utils.ColorizedConsoleTraceListener, utils.diagnostics" name="console"/>-->

				<!--<add type="System.Diagnostics.TextWriterTraceListener" initializeData="logs/net.log" name="player-logger"/>-->
				<!--<add type="System.Diagnostics.XmlWriterTraceListener" initializeData="logs/wcf.svclog" name="wcf" />-->
				<add type="System.Diagnostics.DefaultTraceListener" name="default"/>
				<!--<add type="System.Diagnostics.TextWriterTraceListener" initializeData="logs/default.log" name="default" />-->
				<!--<add type="System.Diagnostics.XmlWriterTraceListener" initializeData="logs/wcf.svclog" name="wcf" />-->
				<!--<add type="System.Diagnostics.TextWriterTraceListener" initializeData="logs/net.log" name="default" />-->
				<!--<add type="System.Diagnostics.EventLogTraceListener" name="sys-evt-log" initializeData="odm" />-->
			</listeners>
		</trace>
	</system.diagnostics>
	<!--<system.serviceModel>
		<diagnostics>
			<messageLogging 
				logEntireMessage="true" 
				logMalformedMessages="true" 
				logMessagesAtServiceLevel="false" 
				logMessagesAtTransportLevel="true" 
				maxMessagesToLog="3000" 
				maxSizeOfMessageToLog="4194304">
				<filters>
					<clear/>
				</filters>
			</messageLogging>
		</diagnostics>
	</system.serviceModel>-->
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.0.414.0" newVersion="2.0.414.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>