<?xml version="1.0"?>
<configuration>
	<system.diagnostics>
		<trace autoflush="true" indentsize="2">
			<listeners>
				<clear/>
				<!--<add type="odm.utils.ObservableTraceListener, odm-utils" name="ui-logger"/>-->
				<!--<add type="System.Diagnostics.ConsoleTraceListener" name="ui-logger"/>-->
			</listeners>
		</trace>
	</system.diagnostics>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
