<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="odm.ui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <odm.ui.Properties.Settings>
            <setting name="DefaultLocaleIso3" serializeAs="String">
                <value>eng</value>
            </setting>
            <setting name="DevicesListControlHeaderNameWidth" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="DevicesListControlHeaderIPWidth" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="DevicesListControlHeaderTypeWidth" serializeAs="String">
                <value>110</value>
            </setting>
            <setting name="MainWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="MainWindowLeftPanelSize" serializeAs="String">
                <value>220</value>
            </setting>
            <setting name="MainWindowWidth" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="MainWindowHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="RecordingPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="UseDefaultRecordingPath" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UsersList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Guest;;0</string>
                    </ArrayOfString>
                </value>
            </setting>
        </odm.ui.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
